<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzl.mapper.ClientMapper" >
  <resultMap id="BaseResultMap" type="com.fzl.pojo.Client" >
    <id column="kh_id" property="khId" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="khmc" property="khmc" jdbcType="VARCHAR" />
    <result column="khsfzh" property="khsfzh" jdbcType="VARCHAR" />
    <result column="khlx" property="khlx" jdbcType="VARCHAR" />
    <result column="khcjlx" property="khcjlx" jdbcType="VARCHAR" />
    <result column="khxb" property="khxb" jdbcType="VARCHAR" />
    <result column="khsjh" property="khsjh" jdbcType="VARCHAR" />
    <result column="khqq" property="khqq" jdbcType="VARCHAR" />
    <result column="khqqnc" property="khqqnc" jdbcType="VARCHAR" />
    <result column="khwx" property="khwx" jdbcType="VARCHAR" />
    <result column="khwxnc" property="khwxnc" jdbcType="VARCHAR" />
    <result column="khzj" property="khzj" jdbcType="VARCHAR" />
    <result column="khdz" property="khdz" jdbcType="VARCHAR" />
    <result column="cjsj" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="xgsj" property="xgsj" jdbcType="TIMESTAMP" />
    <result column="cjr_id" property="cjrId" jdbcType="BIGINT" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="byzd" property="byzd" jdbcType="VARCHAR" />
    <result column="byzd1" property="byzd1" jdbcType="VARCHAR" />
    <result column="byzd2" property="byzd2" jdbcType="VARCHAR" />
    <result column="byzd3" property="byzd3" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ClientVo" type="com.fzl.pojo.Vo.ClientVo" />
  <sql id="Base_Column_List" >
    kh_id, member_id, khmc, khsfzh, khlx, khcjlx, khxb, khsjh, khqq, khqqnc, khwx, khwxnc, 
    khzj, khdz, cjsj, xgsj, cjr_id, bz, byzd, byzd1, byzd2, byzd3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from client
    where kh_id = #{khId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from client
    where kh_id = #{khId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fzl.pojo.Client" >
    insert into client (kh_id, member_id, khmc, 
      khsfzh, khlx, khcjlx, 
      khxb, khsjh, khqq, 
      khqqnc, khwx, khwxnc, 
      khzj, khdz, cjsj, 
      xgsj, cjr_id, bz, byzd, 
      byzd1, byzd2, byzd3
      )
    values (#{khId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{khmc,jdbcType=VARCHAR}, 
      #{khsfzh,jdbcType=VARCHAR}, #{khlx,jdbcType=VARCHAR}, #{khcjlx,jdbcType=VARCHAR}, 
      #{khxb,jdbcType=VARCHAR}, #{khsjh,jdbcType=VARCHAR}, #{khqq,jdbcType=VARCHAR}, 
      #{khqqnc,jdbcType=VARCHAR}, #{khwx,jdbcType=VARCHAR}, #{khwxnc,jdbcType=VARCHAR}, 
      #{khzj,jdbcType=VARCHAR}, #{khdz,jdbcType=VARCHAR}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{xgsj,jdbcType=TIMESTAMP}, #{cjrId,jdbcType=BIGINT}, #{bz,jdbcType=VARCHAR}, #{byzd,jdbcType=VARCHAR}, 
      #{byzd1,jdbcType=VARCHAR}, #{byzd2,jdbcType=VARCHAR}, #{byzd3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fzl.pojo.Client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="khId != null" >
        kh_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="khmc != null" >
        khmc,
      </if>
      <if test="khsfzh != null" >
        khsfzh,
      </if>
      <if test="khlx != null" >
        khlx,
      </if>
      <if test="khcjlx != null" >
        khcjlx,
      </if>
      <if test="khxb != null" >
        khxb,
      </if>
      <if test="khsjh != null" >
        khsjh,
      </if>
      <if test="khqq != null" >
        khqq,
      </if>
      <if test="khqqnc != null" >
        khqqnc,
      </if>
      <if test="khwx != null" >
        khwx,
      </if>
      <if test="khwxnc != null" >
        khwxnc,
      </if>
      <if test="khzj != null" >
        khzj,
      </if>
      <if test="khdz != null" >
        khdz,
      </if>
      <if test="cjsj != null" >
        cjsj,
      </if>
      <if test="xgsj != null" >
        xgsj,
      </if>
      <if test="cjrId != null" >
        cjr_id,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="byzd != null" >
        byzd,
      </if>
      <if test="byzd1 != null" >
        byzd1,
      </if>
      <if test="byzd2 != null" >
        byzd2,
      </if>
      <if test="byzd3 != null" >
        byzd3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="khId != null" >
        #{khId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="khmc != null" >
        #{khmc,jdbcType=VARCHAR},
      </if>
      <if test="khsfzh != null" >
        #{khsfzh,jdbcType=VARCHAR},
      </if>
      <if test="khlx != null" >
        #{khlx,jdbcType=VARCHAR},
      </if>
      <if test="khcjlx != null" >
        #{khcjlx,jdbcType=VARCHAR},
      </if>
      <if test="khxb != null" >
        #{khxb,jdbcType=VARCHAR},
      </if>
      <if test="khsjh != null" >
        #{khsjh,jdbcType=VARCHAR},
      </if>
      <if test="khqq != null" >
        #{khqq,jdbcType=VARCHAR},
      </if>
      <if test="khqqnc != null" >
        #{khqqnc,jdbcType=VARCHAR},
      </if>
      <if test="khwx != null" >
        #{khwx,jdbcType=VARCHAR},
      </if>
      <if test="khwxnc != null" >
        #{khwxnc,jdbcType=VARCHAR},
      </if>
      <if test="khzj != null" >
        #{khzj,jdbcType=VARCHAR},
      </if>
      <if test="khdz != null" >
        #{khdz,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="cjrId != null" >
        #{cjrId,jdbcType=BIGINT},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="byzd != null" >
        #{byzd,jdbcType=VARCHAR},
      </if>
      <if test="byzd1 != null" >
        #{byzd1,jdbcType=VARCHAR},
      </if>
      <if test="byzd2 != null" >
        #{byzd2,jdbcType=VARCHAR},
      </if>
      <if test="byzd3 != null" >
        #{byzd3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fzl.pojo.Client" >
    update client
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="khmc != null" >
        khmc = #{khmc,jdbcType=VARCHAR},
      </if>
      <if test="khsfzh != null" >
        khsfzh = #{khsfzh,jdbcType=VARCHAR},
      </if>
      <if test="khlx != null" >
        khlx = #{khlx,jdbcType=VARCHAR},
      </if>
      <if test="khcjlx != null" >
        khcjlx = #{khcjlx,jdbcType=VARCHAR},
      </if>
      <if test="khxb != null" >
        khxb = #{khxb,jdbcType=VARCHAR},
      </if>
      <if test="khsjh != null" >
        khsjh = #{khsjh,jdbcType=VARCHAR},
      </if>
      <if test="khqq != null" >
        khqq = #{khqq,jdbcType=VARCHAR},
      </if>
      <if test="khqqnc != null" >
        khqqnc = #{khqqnc,jdbcType=VARCHAR},
      </if>
      <if test="khwx != null" >
        khwx = #{khwx,jdbcType=VARCHAR},
      </if>
      <if test="khwxnc != null" >
        khwxnc = #{khwxnc,jdbcType=VARCHAR},
      </if>
      <if test="khzj != null" >
        khzj = #{khzj,jdbcType=VARCHAR},
      </if>
      <if test="khdz != null" >
        khdz = #{khdz,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        xgsj = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="cjrId != null" >
        cjr_id = #{cjrId,jdbcType=BIGINT},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="byzd != null" >
        byzd = #{byzd,jdbcType=VARCHAR},
      </if>
      <if test="byzd1 != null" >
        byzd1 = #{byzd1,jdbcType=VARCHAR},
      </if>
      <if test="byzd2 != null" >
        byzd2 = #{byzd2,jdbcType=VARCHAR},
      </if>
      <if test="byzd3 != null" >
        byzd3 = #{byzd3,jdbcType=VARCHAR},
      </if>
    </set>
    where kh_id = #{khId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fzl.pojo.Client" >
    update client
    set member_id = #{memberId,jdbcType=BIGINT},
      khmc = #{khmc,jdbcType=VARCHAR},
      khsfzh = #{khsfzh,jdbcType=VARCHAR},
      khlx = #{khlx,jdbcType=VARCHAR},
      khcjlx = #{khcjlx,jdbcType=VARCHAR},
      khxb = #{khxb,jdbcType=VARCHAR},
      khsjh = #{khsjh,jdbcType=VARCHAR},
      khqq = #{khqq,jdbcType=VARCHAR},
      khqqnc = #{khqqnc,jdbcType=VARCHAR},
      khwx = #{khwx,jdbcType=VARCHAR},
      khwxnc = #{khwxnc,jdbcType=VARCHAR},
      khzj = #{khzj,jdbcType=VARCHAR},
      khdz = #{khdz,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      xgsj = #{xgsj,jdbcType=TIMESTAMP},
      cjr_id = #{cjrId,jdbcType=BIGINT},
      bz = #{bz,jdbcType=VARCHAR},
      byzd = #{byzd,jdbcType=VARCHAR},
      byzd1 = #{byzd1,jdbcType=VARCHAR},
      byzd2 = #{byzd2,jdbcType=VARCHAR},
      byzd3 = #{byzd3,jdbcType=VARCHAR}
    where kh_id = #{khId,jdbcType=BIGINT}
  </update>


  <select id="selectClientVosByclientVo" resultMap="ClientVo" parameterType="com.fzl.pojo.Vo.ClientVo">
      SELECT
        c.kh_id khId,
        c.member_id memberId,
        m.name,
        c.khmc,
        c.khsfzh,
        c.khlx,
        c.khcjlx,
        c.khxb,
        c.khsjh,
        c.khqq,
        c.khqqnc,
        c.khwx,
        c.khwxnc,
        c.khzj,
        c.khdz,
        c.cjsj,
        c.xgsj,
        c.cjr_id cjrId,
        c.bz,
        c.byzd,
        c.byzd1,
        c.byzd2,
        c.byzd3
      FROM CLIENT c LEFT JOIN member m ON c.member_id=m.member_id LEFT JOIN member_department md on md.member_id=m.member_id
      WHERE 1=1
      <if test="memberId != null and memberId !='' ">
        AND c.member_id = #{memberId}
      </if>
      <if test="departmentId != null and departmentId !='' ">
        AND md.department_id= #{departmentId}
      </if>

  </select>
</mapper>