<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzl.mapper.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.fzl.pojo.Member" >
    <id column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="card" property="card" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="wexin" property="wexin" jdbcType="VARCHAR" />
    <result column="groups" property="groups" jdbcType="BIGINT" />
    <result column="permissions" property="permissions" jdbcType="BIGINT" />
    <result column="qqnc" property="qqnc" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="TIMESTAMP" />
    <result column="OPEN" property="open" jdbcType="VARCHAR" />
    <result column="creat_user_id" property="creatUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    member_id, number, NAME, sex, phone, card, qq, wexin, groups, permissions, qqnc,
    address, remark, TIME, OPEN, creat_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from member
    where member_id = #{memberId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from member
    where member_id = #{memberId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fzl.pojo.Member" >
    insert into member (member_id, number, NAME,
    sex, phone, card, qq,
    wexin, groups, permissions,
    qqnc, address, remark,
    TIME, OPEN, creat_user_id
    )
    values (#{memberId,jdbcType=BIGINT}, #{number,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
    #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{card,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
    #{wexin,jdbcType=VARCHAR}, #{groups,jdbcType=BIGINT}, #{permissions,jdbcType=BIGINT},
    #{qqnc,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
    #{time,jdbcType=TIMESTAMP}, #{open,jdbcType=VARCHAR}, #{creatUserId,jdbcType=BIGINT}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.fzl.pojo.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="card != null" >
        card,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="wexin != null" >
        wexin,
      </if>
      <if test="groups != null" >
        groups,
      </if>
      <if test="permissions != null" >
        permissions,
      </if>
      <if test="qqnc != null" >
        qqnc,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="remark != null" >
        remark,
      </if>
        TIME,
      <if test="open != null" >
        OPEN,
      </if>
      <if test="creatUserId != null" >
        creat_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        #{card,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wexin != null" >
        #{wexin,jdbcType=VARCHAR},
      </if>
      <if test="groups != null" >
        #{groups,jdbcType=BIGINT},
      </if>
      <if test="permissions != null" >
        #{permissions,jdbcType=BIGINT},
      </if>
      <if test="qqnc != null" >
        #{qqnc,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="open != null" >
        #{open,jdbcType=VARCHAR},
      </if>
      <if test="creatUserId != null" >
        #{creatUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fzl.pojo.Member" >
    update member
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        card = #{card,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wexin != null" >
        wexin = #{wexin,jdbcType=VARCHAR},
      </if>
      <if test="groups != null" >
        groups = #{groups,jdbcType=BIGINT},
      </if>
      <if test="permissions != null" >
        permissions = #{permissions,jdbcType=BIGINT},
      </if>
      <if test="qqnc != null" >
        qqnc = #{qqnc,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        TIME = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="open != null" >
        OPEN = #{open,jdbcType=VARCHAR},
      </if>
      <if test="creatUserId != null" >
        creat_user_id = #{creatUserId,jdbcType=BIGINT},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fzl.pojo.Member" >
    update member
    set number = #{number,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wexin = #{wexin,jdbcType=VARCHAR},
      groups = #{groups,jdbcType=BIGINT},
      permissions = #{permissions,jdbcType=BIGINT},
      qqnc = #{qqnc,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=TIMESTAMP},
      OPEN = #{open,jdbcType=VARCHAR},
      creat_user_id = #{creatUserId,jdbcType=BIGINT}
    where member_id = #{memberId,jdbcType=BIGINT}
  </update>
  <select id="queryMemberByuserid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  SELECT
    m.member_id,
    m.number,
    m.NAME,
    m.sex,
    m.phone,
    m.card,
    m.qq,
    m.wexin,
    m.groups,
    m.qqnc,
    m.address,
    m.remark,
    m.TIME,
    m.OPEN,
    m.creat_user_id
    FROM member m LEFT JOIN user_member um ON m.member_id= um.member_id
    WHERE um.user_id =#{id};
  </select>

  <select id="queryMemberByNo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from member
    where name = #{name,jdbcType=INTEGER}
  </select>
  <select id="queryListByCondition" resultMap="BaseResultMap" parameterType="com.fzl.pojo.Qo.MemberQo">
    select
    <include refid="Base_Column_List"/>
    from member
    <where>
      1=1
      <if test="number != null and number != ''">
        AND number =#{number}
      </if>
      <if test="name != null and name != ''">
        AND name like concat('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="phone != null and phone != ''">
      AND phone =#{phone}
      </if>
      <if test="card != null and card != ''">
        AND card =#{card}
      </if>
      <if test="timeStart != null and timeStart != ''">
        AND TIME >= #{timeStart}
      </if>
      <if test="timeEnd != null and timeEnd != ''">
        AND #{timeEnd} > TIME
      </if>
      <if test="departmentId != null and departmentId != ''">
          AND groups=#{departmentId}
      </if>
    </where>
  </select>
</mapper>