<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzl.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.fzl.pojo.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rdescribe" property="rdescribe" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, rdescribe
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fzl.pojo.Role" >
    insert into role (id, name, rdescribe
    )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{rdescribe,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.fzl.pojo.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="rdescribe != null" >
        rdescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rdescribe != null" >
        #{rdescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fzl.pojo.Role" >
    update role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rdescribe != null" >
        rdescribe = #{rdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fzl.pojo.Role" >
    update role
    set name = #{name,jdbcType=VARCHAR},
      rdescribe = #{rdescribe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    r.id,
    r.name,
    r.rdescribe
    from role r LEFT JOIN member_role mr on r.id=mr.role_id LEFT JOIN user_member um ON mr.member_id=um.member_id
    where um.user_id =#{id}
  </select>
</mapper>